<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Bootstrap Site</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/f8b6056eaa.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="container">
            <div class="row">
                <div class="col-md-4"><img src="img/quy_logo.jpg" width="200" height="120" alt="brand"> </div>
                <div class="col-md-4">
                     <form class="d-flex">
                       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                       <button class="btn btn-outline-success" type="submit">Search</button>
                     </form>
                   </div>
                <div class="col-md-4"><i class="fas fa-shopping-cart fs-5"></i><button class="btn btn-danger"> Login </button></div>
                   <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="http://webqp:8080">QP STORE</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="http://webqp:8080">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Introduce</a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Product
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="#">LapTop</a></li>
                                  <li><a class="dropdown-item" href="#">Pc Gamming</a></li>
                                  <li><a class="dropdown-item" href="#">Màn Hình</a></li>
                                </ul>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Trademark
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                  <li><a class="dropdown-item" href="#">Asus</a></li>
                                  <li><a class="dropdown-item" href="#">Rog</a></li>
                                  <li><a class="dropdown-item" href="#">Msi</a></li>
                                  <li><a class="dropdown-item" href="#">Dell</a></li>
                                </ul>
                              </li>
                            </ul>                        
                          </div>
                        </div>
                      </nav>
                   </div>
            </div>
        </header>
        <div class="container-fluid">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="img/quy_slide01.jpg" class="d-block w-100" width="915" height="420" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="img/quy_slide02.jpg" class="d-block w-100" width="915" height="420" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="img/quy_slide03.jpg" class="d-block w-100" width="915" height="420" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
          <div class="container">
            <div class="card text-center">
              <div class="card-header" style="font-style: oblique;">
                 <h3>Nội Dung Bài Viết</h3>
              </div>
              <div class="card-body">
                <h2 class="card-title">LapTop Gamming</h2>
                <p class="card-text">Laptop gaming (laptop chuyên game) là loại máy tính xách tay được thiết kế nâng cấp chuyên biệt phục vụ cho việc chơi game nặng, các trò chơi điện tử trên máy tính cần có xử lý mạnh về đồ họa.
                  Chi tiết máy được thiết kế và hoàn thiện với chất lượng vượt trội, thêm vào đó những chiếc Laptop gaming luôn được áp dụng các công nghệ mới nhất, mạnh nhất về phần cứng.<br>
                  <br>
                  <b>1.Thiết kế  </b>
                  Laptop gaming thường được thiết kế với kiểu dáng hiện đại, góc cạnh, hầm hố cùng màu sắc bắt mắt như đỏ đen, xanh đen, đen xám,... Kích thước thân máy thường lớn, dày để bố trí hệ thống tản nhiệt.
                  Hiện nay kích thước, độ dày, trọng lượng Laptop gaming đã giảm đáng kể nhờ công nghệ CPU và GPU đời mới nhất được áp dụng để sản xuất laptop chuyên game. Các hãng máy tính đều có những thiết kế cho Gaming mỏng nhẹ như MSI, Asus Zephyrus, Dell Alienware, Razer Blade,...<br>
                  <br>
                  <b>2. Cấu hình </b>
- CPU: Đa số Laptop gaming sử dụng cấu hình Core i7 Quadcore với xung nhịp lớn, cache bộ nhớ đệm khủng, thêm vào đó nhiều chiếc Laptop còn được trang bị CPU của máy tính để bàn, hoặc có khả năng ép xung. Thấp nhất một vài máy sử dụng Core i5, giá thành rẻ hơn nhưng hiệu năng không thể bằng Core i7.
- GPU (Card đồ họa rời): Được trang bị trên các Laptop gaming phân khúc cao cấp, xử lý đồ họa chuyên biệt. 
Nvidia Geforce GTX series là dòng card hình có hiệu năng khủng được tích hợp nhiều nhất trên các laptop chơi game hiện tại, với xung nhịp GPU lớn, dung lượng vram nhiều, đáp ứng nhu cầu xử lý đồ họa mạnh của game. Những chiếc card đồ họa rời trên Laptop gaming một số loại có thể tháo rời, nâng cấp thay thế, điều mà các laptop thông thường không thể thực hiện được.
Thêm vào đó một vài dòng Laptop gaming có thể chạy song song hai card đồ họa rời (chế độ SLI tương tự trên máy PC) đem lại hiệu năng xử lý đồ họa mạnh nhất .
- RAM: Bộ nhớ trong của máy có dung lượng lớn (ít nhất là 8 GB) để đáp ứng nhu cầu load game nặng, và chạy đa nhiệm nhiều chương trình cùng một thời điểm. Khả năng nâng cấp RAM trên Laptop gaming cũng rất dễ dàng, máy thường được trang bị 2, thậm chí 4 khe cắm RAM.
- Ổ cứng lưu trữ: Trên laptop chơi game có dung lượng lớn, và có thể lắp nhiều ổ cứng trên một máy. Các game offline và online nặng thường có kích thước file rất lớn (lên đến 60Gb như game GTA V hay Call Of Duty Black ops III). Khe cắm ổ SSD mSata đang dần trở thanh tiêu chuẩn trên một chiếc laptop chơi game, định dạng ổ này cho tốc độ đọc ghi cao.
<br>
                  <b>3. Dung lượng pin</b>
                  Vì chuyên để phục vụ những game nặng, những trận game kéo dài nên pin của Laptop gaming có thời gian lâu hơn các dòng laptop thông thường. Đa số các dòng laptop gaming đều có thời lượng pin trên 8h cho bạn thoải mái sử dụng. <br>
                  <br>
                  <b>4. Màn hình</b>
                  Màn hình của các loại Laptop gaming có độ phân giải cao (full HD 1920 x 1080 pixel, UHD 4K 3820 x 2160 pixel), kích thước màn hình lớn từ 15,6 inch đến 21 inch. 
                  Để phục vụ những game cần khung hình trên giây lớn (FPS), nhất là các game về bắn súng, một số laptop chơi game được trang bị màn hình có tần số quét lên đến 120Hz (như Dell Alienware 17, MSI GS 73VR,…).
                  Màu sắc trên màn hình máy có độ tương phản cao, sặc sỡ, do đó tấm nền màn hình IPS được trang bị rộng rãi. <br>
                  <br>
                  <b>5. Bàn phím</b>
                  Bàn phím trên Laptop gaming thường rộng hơn laptop thông thường. Kích thước bàn phím từ 1.5 mm đến trên 2 mm mang lại cảm giác nhấn tốt hơn, layout phím rộng rãi để bàn tay có thể thoải mái duỗi ra khi chơi game lâu không mỏi.
                  Các nút tính năng riêng cho game cũng được thêm vào, đèn backlit ngoài màu đỏ còn có loại RGB cho phép tùy biến theo sở thích và thậm chí là bàn phím cơ.<br>
                  <br>
                  <b>6. Hệ thống tản nhiệt</b>
                  Các loại Laptop gaming được trang bị 2 quạt gió riêng biệt cho CPU và GPU với rất nhiều ống đồng tản nhiệt. Thậm chí ở dòng laptop gaming siêu cấp còn trang bị thêm bộ phận tản nhiệt nước gắn ngoài như Asus GX800.</br>
                  <br>
                  <b>7. Giá bán</b>
                  Tùy vào từng phân khúc, laptop gaming có giá dao động từ 10 đến trên 100 triệu đồng.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>
          </div>
        <footer class="container-fluid bg-warning">
            <div class="row">
                <div class="col-md-4 p-5">
                    <b>Support customers</b><br>
                    <a href="" class="text-decoration-none" >Mua hàng trả góp</a><br>
                    <a href="" class="text-decoration-none">Chính sách bảo hành</a><br>
                    <a href="" class="text-decoration-none">Chính sách đổi trả</a><br>
                </div>
                <div class="col-md-4 p-5">
                    <b>Support switchboard</b>
                    <p>Hỗ trợ kỹ thuật</p>
                    <b style="color: red;">1900.1234</b>
                    <p>Tư vấn miễn phí</p>
                    <b style="color: red;">1900.5678</b>
                </div>
                <div class="col-md-2 p-5"><i class="fab fa-facebook-f text-white-50ss"> facebook</i>
                <i class="fab fa-youtube"> youtube</i></div>
            </div>
        </footer>
    </body>
</html>